header {
  padding: 2em 2em 10em;
  height: 20%;
  background: $primary-gradient;

  .white-box {
    position: absolute;
    padding: 5%;
    background-color: $white;
    border-radius: 4px;
    color: $secondary;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    overflow-wrap: break-word;
  }
}

.separator {
  height: 125px;
  margin-top: calc(125px * -1);
  background-image: linear-gradient(
    170deg,
    transparent,
    transparent 49%,
    $white 51%,
    $white
  );
}
