.user-details {
  position: absolute;
  text-align: right;
  margin-top: 20px;
  margin-left: 10px;
  bottom: 20px;
  right: 30%;
  justify-content: left;

  h2 {
    font-size: 16px;
    font-weight: bold;
    overflow-wrap: break-word;
  }

  h3 {
    font-size: 14px;
    color: $gray-dark;
    overflow: hidden;
    max-height: 36px;
  }
}

.user-avatar {
  position: absolute;
  right: 16px;
  bottom: 20px;
  width: 70px;
}

@media (min-width: 576px) {
  .user-details {
    right: 40%;

   
  
    h2 {
      
      overflow-wrap: break-word;
      overflow: hidden;
      max-width: 150px;
    }
  
    h3 {
      overflow: hidden;
      max-width: 150px;
    }
  }
}
