# N.B: all files matching the patterns listed here will be ignored by git, and not transferred to any remote (github/heroku)

# Bundler config
/.bundle

# Logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history

# Uploaded files in development
/storage/*
!/storage/.keep
/public/assets

# Master key for decrypting credentials
/config/master.key

# Packages
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Dotenv file(s) to store private access keys
.env*

# Private folder to keep tmp and personal/private files
private/

# Ignore db configuration file (tmp fix for @pwest2 postgres problem)
config/database.yml
