// Palette
$red-dark: #9c2f31;
$red: #be1c11;
$orange: #e67e22;
$yellow: #ffc65a;
$green: #28b485;
$green-light: #7ed56f;
$blue: #03499c;
$blue-light: #3ea1fb;
$white: #fff;
$gray-dark: #717171;
$gray: #c4c4c4;
$gray-light: #f4f4f4;
$black: #000000;

// Check the other variables in _bootstrap_variables.scss
