// Define variables for your color scheme

// For example:
$red: #fd1015;
$burgundy: #9c2f31;
$blue: #03499c;
$black: #000000;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #09ab29;
$gray: #b5b5b5;
$light-gray: #f4f4f4;
