// Define variables for your color scheme

// For example:
$red: #FD1015;
$burgundy: #9C2F31;
$blue: #03499C;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #09AB29;
$gray: #B5B5B5;
$light-gray: #F4F4F4;
