<header class="header-sign-up d-flex justify-content-center align-items-center">
  <div class="auth_banner">
    <div class="form-banner">
      <div>
        <h1>Local Help</h1>
        <h3>Sign up and start helping each other out.</h3>
        <%= render "shared/sign_up_form" %>
      </div>
    </div>
  </div>
</header>
