<header class="header-sign-up d-flex justify-content-center align-items-center">
  <div class="auth_banner">
    <div class="form-banner">
      <div class="form-heading-padding text-center">
        <h1>Local Help</h1>
        <h3>Sign up and start helping each other out.</h3>
      </div>
      <div class="form-padding">
        <%= render "shared/sign_up_form" %>
      </div>
    </div>
    <div class="quote-position">
      <p class="quote">Every small act of kindness makes a difference.</p>
    </div>
  </div>
</header>
