.home-container {
  background-image: asset_url("youssef-naddam-iJ2IG8ckCpA-unsplash.jpg");
  background-size: cover;
  background-position: center;

  @media (max-width: 1139px) {
    overflow-y: scroll;
    background: asset_url("youssef-naddam-iJ2IG8ckCpA-unsplash.jpg") no-repeat
      center center;
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.home-container-inner {
  height: calc(100vh - 56px);
  align-items: center;
  flex-wrap: wrap;
}

.home-search-box {
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 32px;
  width: 400px;
  margin-left: 10%;

  @media (max-width: 1139px) {
    margin: auto;
    margin-top: 32px;
  }
}

.home-tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 576px) {
    width: 90%;
    margin-top: 32px;
  }
}
