.section-home {
  background-color: $white;
  padding: 70px;

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 50px;
  }

  .btn-gradient {
    font-size: 18px;
  }
}

.home-card {
  border: 2px solid $primary;
  border-radius: 4px;
  margin: 3rem 0;
  transition: 300ms;

  &:hover {
    transform: scale(1.05);
  }

  h5 {
    color: $white;
    background-color: $primary;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  p {
    padding: 8px 16px;
    text-align: justify;
    font-size: 17px;
  }
}

#home-card-image {
  width: 100%;
}

.index-map {
  position: sticky;
  width: 418px;
  height: 634px;
  left: 912px;
  top: 239px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
