.banner {
  margin-top: 0px;
  background-image: url("https://res.cloudinary.com/savina/image/upload/v1586955708/john-schnobrich-2FPjlAyMQTA-unsplash_dhtapo.jpg");
  background-repeat: no-repeat;
  height: 800px;
  // background-size: cover;
}

.sign-up-form {
  background-color: rgba(240,240,240,0.8);
  padding: 24px;
}

#already-member {
  font-size: 16px;
}
