.header-sign-up {
  height: 100vh;
  background-image: $green-gradient;
  opacity: 0.8;
}

.auth_banner {
  height: 80vh;
  width: 85vw;
  background-image: asset_url('auth_banner.jpg');
  background-size: 100% 100%;
  border-radius: 4px;
}

.form-banner {
  height: 100%;
  width: 48%;
  background-color: rgba(255,255,255,0.8);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.text-green {
  color: $green;
  font-weight: 600;

  &:hover {
    text-decoration: none;
    color: $light-green;
    text-shadow: rgba(0,0,0,0.2);
  }
}
