<div class="container">
    <h1 class="city-title">Milan</h1>

    <div class="row">
        <%# TODO: Add actual photos from task and user models %>
        <%# TODO: Add function to calculate due date %>
        <% @tasks.each do |task| %>
        <%# only showing tasks that are looking for helpers %>
        <% if task.status == "pending"  %>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3" data-toggle="modal" data-target=<%= "#taskModal#{task.id}" %>>
            <%= render "shared/card",
            photo: "https://picsum.photos/500",
            title: task.title,
            description: task.description,
            avatar: "https://picsum.photos/100",
            due_date: "12h",
            tags: task.tags,
            user_name: task.creator.first_name
               %>
        </div>

        <!-- Modal -->
        <%= render 'shared/task_modal',
            title: task.title,
            taskId: task.id,
            description: task.description,
            avatar: "https://picsum.photos/200",
            user_name: task.creator.first_name,
            photos: ["https://picsum.photos/600", "https://picsum.photos/601", "https://picsum.photos/602", "https://picsum.photos/603"],
            tags: task.tags,
            due_date: "12h"

            %>
        <% end %>
        <% end %>

    </div>
</div>