<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6">
			<h1 class="mt-2">Create a new task</h1>
			<%= render "form", task: @task %>
		</div>
	</div>
</div>
