.tasks-index {
  margin-top: 100px;
  background-image: $white;
  opacity: 0.8;
  padding: 70px;
}

.city-title {
  font-size: 64px;
}

.index-map {
  position: absolute;
  width: 418px;
  height: 634px;
  left: 912px;
  top: 239px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 8px;
}
