.task-content {
  display: flex;
  padding: 16px;
}
.tasks-index {
  margin-top: 100px;
  background-image: $white;
  opacity: 0.8;
  padding: 70px;
}

.tasks-index-map {
  width: 40vw;
  height: 75vh;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  position: sticky;
  margin-top: 20px;
  top: 0;
}

.tasks-index-cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.marker {
  background-image: asset_url("Map-index-marker.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 40%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 100px) and (max-width: 575px) {
  .tasks-index-cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: block;
    position: sticky;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .tasks-index-cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: block;
    position: sticky;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .tasks-index-cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: block;
    position: sticky;
  }
}

/*Large devices (992px and up)*/
@media (min-width: 992px) {
  .tasks-index-cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: block;
    position: sticky;
  }
}

/*XLarge devices (1200px and up)*/
@media (min-width: 1200px) {
  .tasks-index-cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: block;
    position: sticky;
  }
}
