.tasks-index {
  min-height: calc(100vh - #{$navbar-height});
}

.city-title {
  font-size: 64px;
  color: black;
}

.index-map {
position: absolute;
width: 504px;
height: 676px;
left: 913px;
top: 212px;
}
