.form-tags {
  height: 150px;
  overflow: auto;
  margin-bottom: 16px;
}

<<<<<<< HEAD
.new-task {
=======
.new-task{
>>>>>>> updated the Task Index and CSS to properly display cards and map
  padding: 70px 0px;
}
