.show-task-container {
  padding-top: 70px;
  
}

.show-task-header {
  padding: 16px 16px 12px 16px;
  background: $primary-gradient;
  text-align: center;

  .show-task-title {
    color: $white;
  }
}

.show-task-body {
  padding-bottom: 16px;

  .carousel {
    margin: -17px -16px 24px;
  }

  .carousel-photo {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.card-user-container {
  width: 110px;
  

  h6 {
    margin-top: 6px;
    text-align: center;
    color: $gray-dark;
    font-size: 0.8rem;
  }

  img {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    object-fit: cover;
  } 
}


.show-task-location {
  color: $gray-dark;
  font-size: 0.9rem;

  .pin-icon {
    color: $red;
  }
}

.show-task-tags {
  width: 100%;
  display: flex;
}

.task-show-footer {
  a:hover {
    text-decoration: none;
  }
}

.modal-help {
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid $gray;

  &:last-child {
    border-bottom: 0;
  }
}

.modal-help-message {
  flex-grow: 1;
}
