// General rules applied to all pages

#root {
  min-height: 100vh;
}

main#content {
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
}

// Button focus
button:focus {
  outline: 5px auto $primary;
}

// Text highlight
::selection {
  background: $secondary;
  color: $white;
}

// Caret color
input,
textarea,
[contenteditable] {
  caret-color: $primary;
}

// Hide star next to form labels
form label abbr {
  display: none;
}

// Loading bar
.turbolinks-progress-bar {
  background-color: $primary;
}
