// General rules applied to all pages

body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  // overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  position: absolute;
}

main#content {
  min-height: calc(100vh - #{$footer-height});
  width: 100%;
}

// Button focus
button:focus {
  outline: 5px auto $primary;
}

// Text highlight
::selection {
  background: $secondary;
  color: $white;
}

// Caret color
input,
textarea,
[contenteditable] {
  caret-color: $primary;
}

// Hide star next to form labels
form label abbr {
  display: none;
}

// Loading bar
.turbolinks-progress-bar {
  background-color: $primary;
}
