<section class="user-show">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
        <%=render "user_profile_card"%>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-8">
        <h1>About <%= @user.first_name %></h1>
        <h2>Skills and Services</h2>
        <p>tags placeholder</p>
        <h2>Introduction</h2>
        <p> placeholder</p>
        <h2>Reviews as a Helper</h2>
        <p> placeholder</p>
        <h2>Reviews as a Requestor</h2>
        <p> placeholder</p>
      </div>
    </div>
  </div>
</section>
