<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));">
  <div class="container">
    <h1>Local <strong>Help</strong></h1>
    <p>Help each other out</p>
    </div>
</div>