<div class="footer text-center d-flex align-items-center justify-content-center">
  <div class="padding">
    <p>wwww.local-help.com</p>
    <p class="uppercase">Developed with <i class="fas fa-heart"></i> at Le Wagon Milan</p>
    <a href="#" class="uppercase">Meet the team</a>
  </div>
</div>
