<header class="banner-home">
  <div class="banner-home-polygon">
  </div>
  <div class="banner-home-heading">
    <h1>Local Help</h1>
    <h3>Help each other out</h3>
    <div class="banner-home-quotes">
      <p class="banner-home-quote">
        Local Help is a community-driven task exchange. We connect people who could use a hand with someone nearby who can help them get it done.
      </p>
      <p class="banner-home-quote">
        Find someone in your area to help you with home repairs, shopping trips, or anything else you might need.
      </p>
    </div>
  </div>
  <div class="banner-home-search">
    <%= render "shared/search_form" %>
  </div>
  <%#= inline_svg_tag "arrows-icon.svg" %>
</header>
