<div class="container">
  <%= simple_form_for :search, url: tasks_path, class: "search-form", method: :get  do |f| %>
    <%= f.input :location, label: false, class: "form-control", placeholder: "Enter city" %>
    <%# f.input :due_date, label: false, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :task_tags, label: false, class: "form-control", placeholder: "Filter by tags" %>
    <div class="form-actions">
      <%= f.submit "Search", class: "btn-gradient"%>
    </div>
  <% end %>
</div>
