<div class="container">
  <%= simple_form_for :search, url: tasks_path, class: "search-form", method: :get  do |f| %>
    <div id= "search-data"  class="form-search search-data" data-skills="<%= @location.to_json %>">
      <h5 class="float-left mt-2"><strong>City</strong></h5>
      <input class="form-control string required" placeholder="Search by city" type="text" id="search_" autocomplete="off" name= "search[location]">
    </div>
    <div id="tags-search">
      <h5 class="float-left mt-2"><strong>Tags</strong></h5>
      <%= f.input :task_tags, label: false, class: "form-control", collection: @task_tags, input_html: {:multiple => true}, as: :select, value_method: :name %>
    </div>
    <div class="form-actions">
      <%= f.submit "Search", class: "btn-gradient mt-3"%>
    </div>
  <% end %>
</div>
