&--back {
  transform: rotateY(180deg);
  background-image: $green-gradient;
  padding: 10%;

  .task-card-back-title {
    margin: 10px 30px 10px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 2%;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    overflow-wrap: break-word;
  }

  .card__description_back {
    display: block;
    padding-top: 20%;
    padding-bottom: 20%;
    margin: auto;
    width: 75%;
    text-align: center;
    color: white;
  }
  .card-back-botton {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 50%;
    padding: 2%;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    overflow-wrap: break-word;
    color: $dark-gray;
    
      &:hover {
        transform: scale(1.05);
      }
  }
}
