*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  overflow: hidden;
  height: 100%;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  perspective: 150em;  

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25em;
    backface-visibility: hidden;
    transition: all 0.6s ease;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);

    //Front and back of card are too long to fit into this file
    //Front of card is further broken down into 3 sections
    @import "task_card_front";
    @import "task_card_back";
  }

  &:hover {
    transform: scale(1.05);
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotate(0);
  }
}
