<%= render "shared/banner" %>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2  py-3 my-3">
    <div class="col"><%= render "shared/search_form" %></div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
      <% @tasks.each do |task|  %>
      <div class="col py-2 my-2 ">
        <%= render "shared/card",
            title: task.title,
            description: task.description,
            # avatar: current_user.avatar,
            due_date: "12h",
            tags: task.tags,
            user_name: task.creator.first_name%>
      </div>
      <% end %>
      <% @tasks.each do |task|  %>
      <% if task.status == "pending" %>
      <div class="col py-2 my-2 ">
        <%= render "shared/card",
            title: task.title,
            description: task.description,
            # avatar: current_user.avatar,
            due_date: "12h",
            tags: task.tags,
            user_name: task.creator.first_name%>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>