<%= render "shared/banner" %>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2  py-3 my-3">
    <div class="col-4"><%= render "shared/search_form" %></div>
    <div class="col-8">
      <div class="row row-cols-2">
        <div class="col py-2 my-2">
        <div> Create a task </div>
          <% @tasks.each do |task|  %>
          <%= render "shared/card",
            title: task.title,
            description: task.description,
            # avatar: current_user.avatar,
            due_date: "12h",
            tags: task.tags,
            user_name: task.creator.first_name%>
          <% end %>
        </div>

        <div class="col py-2 my-2">
        <div>Browse</div>
        <% @tasks.each do |task|  %>
        <% if task.status == "pending" %>
        <%= render "shared/card",
            title: task.title,
            description: task.description,
            # avatar: current_user.avatar,
            due_date: "12h",
            tags: task.tags,
            user_name: task.creator.first_name%>
        <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
