<header class="banner-home">
  <div class="banner-home-polygon">
    <div class="banner-home-heading">
      <h1>Local Help</h1>
      <h3>Help each other out</h3>
    </div>
  </div>
  <div class="home-search-box">
    <%= render "shared/search_form" %>
  </div>
  <div class="banner-home-quote-position">
    <p class="banner-home-quote">
      <span class="uppercase"><strong>We rise by lifting others</strong></span>
      <br>
      Connecting volunteers with people who could use a hand.
      <br>
      Find someone in your area to help you with grocery shopping, home repair or household duties.
    </p>
  </div>
  <svg class="arrows">
      <path class="a1" d="M0 0 L30 32 L60 0"></path>
      <path class="a2" d="M0 20 L30 52 L60 20"></path>
      <path class="a3" d="M0 40 L30 72 L60 40"></path>
  </svg>
</header>
<div class="container second-section">
  <h1>What is Local Help?</h1>
</div>
<div class="third-section">
  <h1>How does it work?</h1>
  <p>When you sign up, you can both create a new task and apply to help someone out</p>
</div>
