<%= render "shared/home_banner" %>

<section class="section-home pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1>Local Help explained</h1>
        <p>Whether you need someone to help you assemble some furniture, build your garden, or even just a friendly voice to talk you through getting your printer back up and running, Local Help has a wide range of top-rated volunteers to help you solve any issue. We also have paid tasks too, so you can support your community members and make a new friend in the process.</p>
        <%= link_to 'See available tasks', tasks_path, class: 'btn-gradient' %>
      </div>
      <div class="col-12 col-md-4">
        <%= image_tag "card.png", id: "home-card-image" %>
      </div>
    </div>
  </div>
</section>

<section class="section-home pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Create an account</h1>
        <p class="mb-4">With your Local Help account, you can list your issue or apply to help someone out. Manage all your messages in our built-in dashboard!</p>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-12 col-md-4">
        <div class="home-card">
          <h5 class="card-header">Create a new task</h5>
          <p>Explain what you need done. Not sure if it's clear? You can upload photos too!</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="home-card">
          <h5 class="card-header">Apply for a task</h5>
          <p>Introduce yourself and explain how you can help (e.g. experience)</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <%= link_to "Sign up for free", new_user_registration_path, class: "btn-gradient" %>
    </div>
  </div>
</section>
