<header class="banner-home">
  <div class="banner-home-polygon">
  </div>
  <div class="banner-home-heading">
    <h1>Local Help</h1>
    <h3>Help each other out</h3>
  </div>
  <div class="home-search-box">
    <%= render "shared/search_form" %>
  </div>
  <div class="banner-home-quote-position">
    <p class="banner-home-quote">
      <span class="uppercase"><strong>We rise by lifting others</strong></span>
      <br>
      Connecting volunteers with people who could use a hand.
      <br>
      Find someone in your area to help you with grocery shopping, home repair or household duties.
    </p>
  </div>
  <svg class="arrows">
      <path class="a1" d="M0 0 L30 32 L60 0"></path>
      <path class="a2" d="M0 20 L30 52 L60 20"></path>
      <path class="a3" d="M0 40 L30 72 L60 40"></path>
  </svg>
</header>

<div class="banner-home-second-section">
  <div class="row">
    <div class="col-12 d-flex">
      <div class="banner-home-left-side">
        <h1>What is Local Help?</h1>
        <p>Whether you need someone to help you fix your roof, clean your house or help build your garden. Here, you can find top rated volunteers to help you take on any project as well as become a volunteer and help someone in your community.</p>
        <div class="d-flex justify-content-around">
          <%= link_to 'See available tasks', tasks_path, class: 'btn-gradient' %>
        </div>
      </div>
      <div class="banner-home-right-side d-flex justify-content-around">
        <div>
          <p>Add card here...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-home-third-section">
  <div class="row">
    <div class="col-12">
      <h1>How does it work?</h1>
      <p>When you sign up, you can both create a new task or apply to help someone out.</p>
      <div class="d-flex justify-content-around">
        <div class="banner-home-card" style="width: 20rem;">
          <div class="banner-home-card-polygon">
            <div class="banner-home-card-polygon">
              <h5>Create a new task</h5>
            </div>
            <p>Two to three sentences to explain how to create a task and why.</p>
          </div>
        </div>
        <div class="banner-home-card" style="width: 20rem;">
          <div class="banner-home-card-polygon">
            <div class="banner-home-card-polygon">
              <h5>Apply for a task</h5>
            </div>
            <p>Two to three sentences to explain how to apply and why.</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <%= link_to 'Sign up for free', new_user_registration_path, class: 'btn-gradient' %>
      </div>
    </div>
  </div>
</div>
