<%= render "shared/banner" %>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2  py-3 my-3">
    <div class="col-4"><%= render "shared/search_form" %></div>
    </div>
  </div>
</div>