.alerts {
  position: sticky;
  z-index: 1;
  bottom: 16px;
  // width: 25vw;
  margin-right: 16px;
}

.alert {
  text-align: center;
  text-transform: uppercase;
  width: max-content;

  animation: fadeout 1s 1;
  -webkit-animation: fadeout 1s 1;
  animation-fill-mode: forwards;

  animation-delay: 7s;
  -webkit-animation-delay: 7s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
