.card-task {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 100%;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  h5 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: 0.7;
    margin-top: 0;
  }
}

.card-task-time {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  background-color: white;
  padding: 4px;
  border-radius: 50px;
}

.card-task-infos {
  color: black;
  height: 125px;
  margin-top: 24px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card-task-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }

  .card-task-username {
    position: absolute;
    right: 16px;
    top: 25px;
    width: 40px;
    text-align: center;
    font-weight: bold;
  }
}

.card-task-footer {
  margin: 0 16px 16px 16px;
  padding: auto;
  display: flex wrap;
  align-items: center;
}
