.footer {
  background: $green-gradient;
  color: $white;
  font-weight: 500;
  font-size: 14px;
  min-height: 108px;

  p {
    margin: 0;
    vertical-align: middle;
  }

  a {
    color: $white;
    transition: 0.3s;

    &:hover {
      color: $white;
      text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
