.footer {
  background: $primary-gradient;
  min-height: $footer-height;
  color: $white;
  font-weight: 500;
  font-size: 0.9rem;
  width: 100%;

  p {
    margin: 0;
    vertical-align: middle;
  }

  a {
    color: $white;
    transition: 0.3s;

    &:hover {
      color: $white;
      text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
