.modal-body {
  padding-bottom: 16px;

  .carousel-photo {
    margin: 20px;
    width: 95%;
    height: 300px;
    object-fit: cover;
  }

  h5 {
    text-transform: uppercase;
  }
}

.modal-user-container {
  text-align: center;

  h6 {
    margin-top: 4px;
  }

  img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
}

.modal-tags {
  width: 100%;
  display: flex;
}

.modal-title-green {
  color: $primary;
}

.green-on-hover {
  &:hover {
    color: $primary;
  }
}

.modal-footer {
  a:hover {
    text-decoration: none;
  }
}

.modal-header {
  padding: 16px 16px 4px 16px;
}

.helps-modal {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid $primary;
}

.helps-modal-message {
  flex-grow: 1;
}
