.navbar-local-help {
  min-height: $navbar-height;
  justify-content: space-between;
  background: transparent;
  transition: 0.3s background-color ease;
  width: 100%;
  padding: 0.8rem 1.2rem;

  .nav-item {
    display: inline-block;
    margin: 0px 6px;
    font-weight: 600;
    list-style-type: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .navbar-toggler {
    display: none;
    padding: 0.5rem 1rem;
    border: 2px solid $secondary;

    i {
      color: $secondary;
    }
  }

  .nav-logo {
    width: 3rem;
  }

  .nav-link {
    color: $white;
    font-weight: 600;
    // display: none;
  }

  @include media-breakpoint-down(sm) {
    .nav-item {
      display: none;
    }
  }

  .avatar {
    height: 40px;

    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .nav-form-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    display: none;
  }

  .form-control {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-gradient {
    padding: 7px 24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.navbar-local-help-white {
  background: $white;
  box-shadow: 0 0px 8px 0 rgba(0, 40, 120, 0.25);

  .nav-link {
    color: $primary;
    font-weight: 600;
    display: flex;
  }

  @include media-breakpoint-down(sm) {
    .navbar-toggler {
      display: block;
    }
  }

  @include media-breakpoint-up(sm) {
    .nav-form-container {
      display: flex;
    }

    .nav-item {
      display: inline-block;
      align-self: center;
    }
  }
}
