.navbar-lewagon {
  justify-content: space-between;
  background: rgba($color: #17455e, $alpha: 0);
  .avatar {
    cursor: pointer;
  }
  a {
    // color: white !important;
    font-weight: 600;
  }
  // .custom-nav-link-white {
  //   color: white !important;
  //   // font-weight: bold;
  // }
  // .navbar-brand {
  //   background-color: rgba($color: white, $alpha: 0.7);
  //   border-radius: 20px;
  //   padding: 0 8px !important;
  // }
}

.localhelp-logo {
  @media (min-width: 1139px) {
    position: absolute;
    // top: 50px;
    left: 50px;
    width: 400px !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  margin: 0;
}
