.navbar-local-help {
  min-height: $navbar-height;
  justify-content: space-between;
  background: transparent;
  transition: 0.3s background-color ease;
  width: 100%;
  padding: 0.8rem 1.2rem;

  .navbar-toggler {
    display: none;
    padding: 0.5rem 1rem;
    border: 2px solid $gray;

    i {
      color: $gray;
    }
  }

  .nav-logo {
    width: 3rem;
  }

  .navbar-collapse {
    justify-content: center;
  }

  .nav-item {
    display: inline-block;
    margin: 0px 10px;
    font-weight: 600;
    list-style-type: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .nav-link {
    color: $white;
  }

  .avatar {
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .nav-form-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .form-control {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-gradient {
    padding: 7px 24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.navbar-local-help-white {
  background: $white;

  .nav-link {
    color: $primary;
  }

  @include media-breakpoint-down(sm) {
    .navbar-toggler {
      display: block;
    }
  }
}
