.tag {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 4px 6px;
  margin: 4px;
  opacity: 50%;
  max-width: fit-content;
  display: inline-flex;
  white-space: pre;
}

.expire-tag {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px;
  border-radius: 2px;
  position: absolute;
  top: 4px;
  right: 18px;
}
