.tag {
  border: 1px solid $primary;
  color: $primary;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 4px;
  max-width: fit-content;
  display: inline-flex;
  white-space: pre;
  font-size: 12px;

  &:hover {
    background-color: $primary;
    color: white;
    cursor: pointer;
  }
}

.expire-tag {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px;
  border-radius: 2px;
  position: absolute;
  top: 4px;
  right: 18px;
}
