<%= render "banner" %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <%= render "form", task: @task  %>
      <p>MB: will put the cards in, once I have controllers and can see</p>
    </div>
  </div>
</div>
