    
<section class="alerts">
  <% flash.each do |type, msg| %>
    <div
        class="alert alert-warning alert-dismissible<%= type =~ /^(alert)|(notice)$/ ? 'info' : type == 'error' ? 'danger' : type %> alert-dismissible fade show mb-0"
        role="alert">
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</section>
