<footer class="footer text-center d-flex align-items-center justify-content-center">
  <div>
    <p><%= link_to "local-help.com", root_path %> </p>
    <p class="uppercase">Developed with <i class="fas fa-heart"></i> at <a href="https://www.lewagon.com/milan" target="_blank">Le Wagon Milan</a></p>
    <a href="#" class="uppercase">Meet the team</a>
  </div>
</footer>
